proxy_cache_path /cache levels=1:2 keys_zone=imgproxy_cache:${CACHE_KEYS_ZONE_SIZE} max_size=${CACHE_MAX_SIZE} inactive=${CACHE_INACTIVE} use_temp_path=off;

server {
    listen 80 default_server;
    server_name _;

    server_tokens off;

    resolver 127.0.0.11;

    location ~ ^/(.*)$ {
        proxy_cache imgproxy_cache;

        set $img_proxy http://imgproxy:8080;

        proxy_pass $img_proxy/$1$is_args$args;
    }
}
